@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');            

body{ 
                color: #373737; 
                background-color:white;
                 background-image: url(../images/parchment.jpeg);
                font-family: 'Roboto Slab', serif;
                
             } 
       
             .media-heading { 
 
            
            text-align: center;
            padding:55px 0;
                 color: white;
                
            }
            

                .title {
    
                text-align: center;
                padding-bottom: 25px;
                    padding-top: 20px;
                    margin-top: 0px;
                    color: #373737;
                    background-color: white;
    
            }

            .list-group-item{
                background-color:black;
                color: white;
                opacity: 0.6;
                
                
    
            }

.carousel-inner{
    background-image: url(../images/parchment.jpeg);
    text-align: center;
    margin-bottom: 100px;
}



            .contain1{
                
                margin-top: 20px;
                border-top-right-radius: 25px;
               
            }
.panel {
    opacity: 0.6;
    background-color: black;
    color: white;
}

.gallery h1{
    text-align: center;
    margin-bottom: 30px;
    
}
.gallery{
    margin-top: 50px;
}

     
            .navbar-default .navbar-nav>.active>a,
            .navbar-default .navbar-nav>.active>a:focus,
            .navbar-default .navbar-nav>.active>a:hover {
                background-color: #C0B283;
                color: white;
            }

     @media only screen and (min-width : 480px) {
         .media-heading{
             font-size: 2em;
         }
            
            }
            
                @media only screen and (min-width : 768px) {
                
               .media-heading { 
 
            font-size: 3em;
            
            }
            }